/* .div-one {
    height: 200px;
    width: 300px;
    background-color: blueviolet;
}

@media screen and ( max-width:500px) {
    body {
        background-color: crimson;
    }
}

@media screen and ( min-width:550px) and (max-width: 650px) {
    body {
        background-color: green;
    }
}

@media screen and ( min-width:100px) {
    body {
        background-color: yellow;
    }
}
  */


/* 11111111111 */


/* .container {
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 20px;
}

.demo {
    text-align: center;
    color: chocolate;
} */


/* 111111 */